@use "../../styles/style.scss" as *;

.paragraph {
  color: $main-white;
  &-title {
    display: inline;
    margin-right: rem(4);
    font-size: rem(24);
    font-weight: 700;
    }

  &-period {
    font-size: rem(12);
    opacity: .5;
    }
  &-subtitle {
    margin-top: rem(8);
    font-size: rem(20);
    font-weight: 700;
    }
  &-desc {
    margin-top: rem(8);
    font-size: rem(20);
    font-weight: 500;
    opacity: .8;
    }
  }

