@use "../../styles/style.scss" as *;

/***** checklist style *****/ 
// variant (size = sm)
.checkList {
  li {
    position: relative;
    margin-top: rem(12);
    padding-left: rem(24);
    &:first-child {
      margin-top: 0;
      }
    &::before {
      content: "";
      display: inline-block;
      position: absolute;
      top: 0;
      left: 0;
      width: rem(16);
      height: rem(16);
      background-image: url("../../assets/images/icons/ico-check-blue.png");
      background-size: rem(16) rem(16);
      }
    }
  }
// size
.ui-textList-md {
  li {
    padding-left: rem(32);
    font-size: rem(20) !important;
    line-height: 1.2;
    }
  & > li {
    &::before {
      width: rem(20);
      height: rem(20);
      background-size: rem(20) rem(20);
      }
    }
  }

@media (max-width: 767px) {
  .ui-textList-md {
    li {
      padding-left: rem(24);
      font-size: rem(16) !important;
      line-height: 1.2;
      }
    & > li {
      &::before {
        width: rem(16);
        height: rem(16);
        background-size: rem(16) rem(16);
        }
      }
    }
  }




/***** circleList style *****/ 
.circleList {
  li {
    display: flex;
    margin-bottom: rem(16);
    span {
      display: inline-block;
      max-width: 55px;
      max-height: 55px;
      padding: rem(18) rem(8);
      font-family: "tenada";
      font-size: rem(16);
      line-height: 1.2;
      text-align: center;
      background-color: $main-yellow;
      border-radius: 50%;

      box-sizing: border-box;
      vertical-align: middle;
      }
    div {
      display: block;
      width: 100%;
      max-width: 305px;
      margin-bottom: rem(16);
      margin-left: rem(28);
      padding: rem(24) rem(20) rem(24) rem(56);
      border: 2px solid $main-black;
      border-radius: rem(24);

      box-sizing: border-box;
      h3 {
        font-size: rem(16);
        }
      p {
        margin-top: rem(12);
        font-size: rem(12);
        color: $main-gray;
        }
      }
    // position: relative;
    // &::before {
    //   position: absolute;
    //   content: "";
    //   display: inline-block;
    //   width: 10px;
    //   height: 10px;
    //   background-color: yellow;
    // }
    }
  }



.firstLevelList > li {
  margin-bottom: rem(24);
  padding-left: rem(24);
  font-size: rem(16);
  > span {
    display: inline-block;
    position: relative;
    margin-bottom: rem(8);
    padding-left: 0;
    font-weight: bold;
    color: white;
    &::before {
      content: "";
      display: inline-block;
      position: absolute;
      top: 0px;
      left: rem(-24);
      width: rem(16);
      height: rem(16);
      background-image: url("../../assets/images/icons/ico-check-wh.png");
      background-size: rem(16) rem(16);
      }
    }
  }

/* 중첩 리스트 스타일 */
.nestedList > li {
  font-size: rem(16);
  & + li {
    margin-top: rem(12);
    }
  > span {
    color: rgba(255, 255, 255, .8);
    }
  }
